<%- include('./partials/nav') %>
<h1>Let's Started Booking For Your Room</h1>

<div>
    <table border="1">
        <thead>
            <th>Rooms Type</th>
            <th>Check-In</th>
            <th>Check-Out</th>
            <th>Total Price</th>
        </thead>
        <tbody>
            <tr>
                <td><%= guestBooking.Rooms[0].room_type %> </td>
                <td><%= guestBooking.checkIn.toLocaleDateString('fr-ca', { timeZone: 'UTC' }) %> </td>
                <td><%= guestBooking.checkOut.toLocaleDateString('fr-ca', { timeZone: 'UTC' }) %> </td>
                <td><%= detail.totalPrice %> </td>
            </tr>
        </tbody>
    </table>
</div>

<div>
    <form action="" get></form>
</div>